[user]
  email = ettali.samir@gmail.com
  name = "Samir Ettali"

[core]
  editor = nvim
  excludesfile = .gitignore_global

[mergetool "nvim"]
  cmd = nvim -f -c \"Gdiffsplit!\" \"$MERGED\"

[merge]
  tool = nvim

[mergetool]
  prompt = false

[pull]
  rebase = false

[init]
  defaultBranch = main
