[submodule "common/zsh/.zsh/zsh-autosuggestions"]
	path = common/zsh/.zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "common/zsh/.zsh/zsh-git-prompt"]
	path = common/zsh/.zsh/zsh-git-prompt
	url = https://github.com/starcraftman/zsh-git-prompt
[submodule "common/zsh/.zsh/zsh-syntax-highlighting"]
	path = common/zsh/.zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "common/tmux/.tmux/tpm"]
	path = common/tmux/.tmux/tpm
	url = https://github.com/tmux-plugins/tpm
