snippet class "class" b
class ${1:Class}{
public:
    // constructors, asssignment, destructor
    $1();
    $1(const $1&);
    $1& operator=(const $1&);
    ~$1();
	$2
private:
	$3
};
endsnippet

snippet prog "prog" b
#include <iostream>
using namespace std;

int main(int argc, char *argv[])
{
	$1
	return 0;
}
endsnippet
