snippet class "Class" b
class ${1:Class} {
	$1() {
	}
}
endsnippet

snippet mclass "Class with main" b
class ${1:Class} {
	$1()
	{
	}

	public static void main(String[] args)
	{
	}
}
endsnippet

snippet au "Author" b
/**
 * @author Samir Ettali
 **/

endsnippet
