[user]
	email = ettali.samir@gmail.com
	name = "Samir Ettali"

[includeIf "gitdir:~/dev"]
    path = ~/.work.gitconfig

[includeIf "gitdir:~/go/src/github.com/YoungAgency"]
    path = ~/.work.gitconfig

[core]
	editor = nvim
	excludesfile = ~/.gitignore_global
	ignorecase = false

[mergetool "nvim"]
	cmd = nvim -f -c \"Gdiffsplit!\" \"$MERGED\"

[merge]
	tool = nvim

[mergetool]
	prompt = false

[pull]
	rebase = false

[init]
	defaultBranch = main

[url "git@github.com:YoungAgency"]
  insteadOf = https://github.com/YoungAgency

[push]
	autoSetupRemote = true
