[user]
	email = ettali.samir@gmail.com
	name = "Samir Ettali"

[core]
	editor = nvim
	excludesfile = ~/.gitignore_global
	ignorecase = false

[mergetool "nvim"]
	cmd = nvim -f -c \"Gdiffsplit!\" \"$MERGED\"

[merge]
	tool = nvim

[mergetool]
	prompt = false

[pull]
	rebase = false

[init]
	defaultBranch = main

[url "git@github.com:"]
  insteadOf = https://github.com/
