@define-color background #000000;
@define-color background-alt #444444;
@define-color foreground #ffffff;
@define-color selected #c97163;

* {
	font-family: JetBrainsMono Nerd Font;
    font-size: 13px;
    transition: none;
    margin: 1px 0px 1px;
}

window#waybar {
    background-color: @background;
    color: @foreground;
}

#workspaces button {
	color: @background-alt;
    padding: 0px;
    margin: 0px;
	background-color: @background;
}

#workspaces button.focused {
    color: @foreground;
}

#workspaces button:hover {
	color: @selected;
}

#custom-separator {
  color: @background-alt;
  margin: 0 5px;
}


#clock {
  margin-right: 5px;
}
