{{/* The export carries Samir's own identity and the browser only mbp has. */ -}}
{{- $keymap := includeTemplate "sottomano-keymap.json" . | fromJson -}}
{{- range $keymap.entries -}}
{{-   if eq (.name | toString) "browser" -}}
{{-     $_ := set . "launch" "Google Chrome" -}}
{{-   end -}}
{{-   if eq (.name | toString) "insert" -}}
{{-     range .entries -}}
{{-       if eq (.name | toString) "email" -}}
{{-         $_ := set . "type" "s.ettali@young.business" -}}
{{-       end -}}
{{-     end -}}
{{-   end -}}
{{- end -}}
{{ toPrettyJson $keymap }}
